.Select--multi > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: grey;
    color: #C0C0C0;
    
}
.ag-cell {
    display: flex;
    align-items: center;
  }

